* {
  box-sizing: border-box;
}

/* Bättre typsnitt när Hanna har bestämt sig */

body {
  background-color: #f0c5b0;
  color: #522008;
  display: grid;
  min-height: 100vh;
  gap: 1.5rem;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header nav"
    "main main"
    "aside footer";
  margin: 0;
  padding: 2%;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fedac2;
  border-radius: 1rem;
}

h1,
h2 {
  color: #351302;
  margin: 0.5rem;
}

nav {
  grid-area: nav;
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  display: none;
}

nav.open a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  background-color: #005179;
  color: #f0c5b0;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #005179;
  color: #f0c5b0;
}

/* Centrera strecken, placera menyn på rätt plats */

.active {
  background-color: #f5f5f5;
  font-weight: 500;
}

.links {
  z-index: 100;
  border-radius: 0.5rem;
  overflow: hidden;
}

nav.open .links {
  position: absolute;
  top: calc(50% + 1.25rem);
  left: 50%;
  transform: translateX(-50%);
}

/* Centrera länkarna */

main {
  grid-area: main;
  background-color: #fedac2;
  border-radius: 1rem;
}

aside {
  grid-area: aside;
  background-color: #fedac2;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1rem;
}

body#om-oss aside {
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  background-color: #fedac2;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

footer a {
  width: 9rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #005179;
  color: #f0c5b0;
  border-radius: 1rem;
}

aside p {
  padding: 0.5rem;
}

img {
  display: block;
  border-radius: 1rem;
  height: auto;
}

.mer-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.clickable {
  cursor: pointer;
}

@media (min-width: 800px) {
  body#om-oss {
    background-color: #f0c5b0;
    color: #522008;
    display: grid;
    min-height: 100vh;
    gap: 1.5rem;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header nav"
      "main aside"
      "footer footer";
    margin: 0;
    padding: 2%;
  }

  nav {
    background-color: #fedac2;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  nav button {
    display: none;
  }
}