* {
  box-sizing: border-box;
}

body {
  background-color: #f0c5b0;
  color: #522008;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 20vh 10fr 10vh;
  grid-template-areas:
    "header nav"
    "main main"
    "aside footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

nav a {
  display: none;
}

nav a #oppen {
    display: flex;
    flex-direction: column;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}

@media (min-width: 800px) {
  nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  nav button {
    display: none;
  }
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

h1,
h2 {
  color: #351302;
}

footer a {
  display: block;
  width: 9rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #005179;
  color: #f0c5b0;
  overflow: hidden;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
